<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SOTemplateEntryMapper">
	
	<!--表名 -->
	<sql id="tableName">
		TB_SOTEMPLATEENTRY
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		FTEMPID,	
		FENTRYID,	
		FITEMID,	
		FAUXQTY,	
		FREMARK,	
		SOTEMPLATEENTRY_ID,
		SOTEMPLATE_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{FTEMPID},	
		#{FENTRYID},	
		#{FITEMID},	
		#{FAUXQTY},	
		#{FREMARK},	
		#{SOTEMPLATEENTRY_ID},
		#{SOTEMPLATE_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			SOTEMPLATEENTRY_ID = #{SOTEMPLATEENTRY_ID}
	</delete>
	
	<!--通过FTEMPID,SOTEMPLATE_ID 删除-->
	<delete id="delete2" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			FITEMID = #{FITEMID} and FTEMPID = #{SOTEMPLATE_ID}
	</delete>
	
	<!-- 删除-->
	<delete id="deleteByFTempID" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			FTEMPID = #{FTEMPID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			FTEMPID = #{FTEMPID},
			FENTRYID = #{FENTRYID},
			FITEMID = #{FITEMID},
			FAUXQTY = #{FAUXQTY},
			FREMARK = #{FREMARK},
		SOTEMPLATEENTRY_ID = SOTEMPLATEENTRY_ID
		where 
		SOTEMPLATEENTRY_ID = #{SOTEMPLATEENTRY_ID}
	</update>
	
	<!-- 修改 -->
	<update id="edit_qty" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			FAUXQTY = #{FAUXQTY}
		where 
		FTEMPID = #{FTEMPID} and FITEMID = #{FITEMID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			SOTEMPLATEENTRY_ID = #{SOTEMPLATEENTRY_ID}
	</select>

	<select id="findBySOTEMPLATE_ID" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		where
		SOTEMPLATE_ID = #{SOTEMPLATE_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		s.SOTEMPLATEENTRY_ID,s.FTEMPID ,s.FENTRYID,s.FITEMID,s.FAUXQTY,s.FREMARK,s.SOTEMPLATE_ID,i.FSALEUNIT
		from TB_SOTEMPLATEENTRY s LEFT JOIN TB_ITEMBASE i ON s.FITEMID = i.FITEMID 
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				<!--	根据需求自己加检索条件
					字段1 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
					字段2 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				-->
				)
		</if>
	</select>
	
	<select id="list_one" parameterType="page" resultType="pd">
		<!-- SELECT 
		distinct c.FITEMID as FITEMID,c.FNAME as FNAME,c.FNUMBER as FNUMBER,c.FMODEL as FMODEL,t.FAUXQTY as FAUXQTY ,t.FENTRYID as FENTRYID
		from 
		TB_SOTEMPLATEENTRY t INNER JOIN TB_ITEMBASE c ON t.FITEMID = c.FITEMID
		where -->
		SELECT distinct s.FBILLNO as FBILLNO,t.SOTEMPLATEENTRY_ID as SOTEMPLATEENTRY_ID,
		c.FITEMID as FITEMID,c.FNAME as FNAME,c.FNUMBER as FNUMBER,c.FMODEL as FMODEL,t.FAUXQTY as FAUXQTY ,
		t.FENTRYID as FENTRYID , c.FSALEUNIT as FSALEUNIT
		from 
		TB_SOTEMPLATEENTRY t INNER JOIN TB_ITEMBASE c ON t.FITEMID = c.FITEMID LEFT JOIN TB_SOTEMPLATE s ON 
		t.FTEMPID = s.SOTEMPLATE_ID where
		  t.SOTEMPLATE_ID = #{pd.SOTEMPLATE_ID}
		
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				<!--	根据需求自己加检索条件
					字段1 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
					字段2 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				-->
				)
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			SOTEMPLATEENTRY_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- fh313596790qq(青苔) -->
</mapper>