<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="QyWxUserMapper">
	
	<!--表名 -->
	<sql id="tableName">
		TB_QYWXUSER
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		USERID,	
		NAME,	
		MOBILE,	
		DEPARTMENT,	
		UORDER,	
		POSITION,	
		GENDER,	
		EMAIL,	
		ISLEADER,	
		AVATAR,	
		TELEPHONE,	
		ENGLISH_NAME,	
		STATUS,	
		EXTATTR,	
		OPENID,	
		ROLE,	
		QYWXUSER_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{USERID},	
		#{NAME},	
		#{MOBILE},	
		#{DEPARTMENT},	
		#{UORDER},	
		#{POSITION},	
		#{GENDER},	
		#{EMAIL},	
		#{ISLEADER},	
		#{AVATAR},	
		#{TELEPHONE},	
		#{ENGLISH_NAME},	
		#{STATUS},	
		#{EXTATTR},	
		#{OPENID},	
		#{ROLE},	
		#{QYWXUSER_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			QYWXUSER_ID = #{QYWXUSER_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			USERID = #{USERID},
			NAME = #{NAME},
			MOBILE = #{MOBILE},
			DEPARTMENT = #{DEPARTMENT},
			GENDER = #{GENDER},
			EMAIL = #{EMAIL},
			TELEPHONE = #{TELEPHONE},
			OPENID = #{OPENID},
			ROLE = #{ROLE},
		QYWXUSER_ID = QYWXUSER_ID
		where 
		QYWXUSER_ID = #{QYWXUSER_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findByUserId" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			USERID = #{USERID}
	</select>
	
	<!-- 通过USERID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			QYWXUSER_ID = #{QYWXUSER_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				<!--	根据需求自己加检索条件
					字段1 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
					字段2 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				-->
				DEPARTMENT LIKE '%'+#{pd.keywords}+'%'
				)
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			QYWXUSER_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- fh313596790qq(青苔) -->
</mapper>